.bg_purple {background: #BC00FF;}
.bg_white {background: #fff;}
.txt_white {color: #fff;}
.txt_gray {color: #9c9c9c;}
.txt_red {color: #ee495a;}
.txt_green {color: #00bb27;}
.txt_yellow {color: #ffbf00;}